.gradle
/local.properties
/.idea/workspace.xml
/.idea/libraries
.DS_Store
/build
/captures
materialrefreshlibrary/build

.idea/dictionaries/jjoe.xml

.idea/misc.xml

.idea/misc.xml

animator/animator.iml

http/http.iml

materialrefreshlibrary/materialrefreshlibrary.iml

MousePaintYzz.iml

sweetsheet/sweetsheet.iml
